{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td><img src="{{asset('images/media/' ~ post.media) }}" alt="{{post.media}}"></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div>likes: <span class="badge bg-primary">{{post.likes|length}}</span></div>
    {% set break = false %}
    <p> {% for like in post.likes %}
            {% if not break %}
                {% if post.likes|length == 1 %}
                {{like}} liked this post.

                {% else %}             
                {{like}} and {{post.likes|length - 1}} liked this post
                {% set break = true %}
                {% endif %}
            {% endif %}
        {% else %}
            No one liked this post yet. Like Batard!
        {% endfor %} liked this post</p>


    {% if app.user in post.likes %}

    <a href="{{path("post_like", {'id':post.id})}}">
        <button class="btn btn-danger"><i class="far fa-heart"></i></button>
    </a>
    {% else %}
    
    <a href="{{path("post_like", {'id':post.id})}}"><button class="btn btn-primary"><i class="far fa-heart"></i></button></a>

    {% endif %}
    <a class="btn btn-secondary" href="{{ path('post_index') }}">back to list</a>
    {{ include('post/_delete_form.html.twig') }}
    <section class="container comment-section col-6">
        <h2>Comment section <span class="badge bg-secondary">{{post.comments|length}}</span></h2>
        {% for comment in comments %}
            <div class="comment-item">
                <p>@{{comment.author}}</p>
                <p>{{comment.content}}</p>
                <p>{{comment.createdAt|date('d M Y à H:i')}}</p>
            </div>
        {% endfor %}
        {{form(form)}}
    </section>
{% endblock %}
